<%- include('./partials/header') %>
<div class="w-screen flex-col items-center h-screen flex">
    <div class="w-full z-10 h-20 bg-gray-100 flex ">
        <div class="flex items-center gap-2 justify-end w-full px-2">
            <a class="block w-fit mb-2 font-sans font-semibold hover:text-blue-800 " href="">All Products</a>
                <a class="block w-fit mb-2 font-sans font-semibold hover:text-blue-800 " href="/createproducts">Create Product</a>
                <a class="block w-24 mb-2 h-8 bg-black text-xsm font-semibold rounded-md text-white py-1 px-3 font-sans " href="">Delete All</a>
                <a class="block w-20 mb-2 h-8 bg-red-600 text-xsm font-semibold rounded-md text-white py-1 px-3 font-sans " href="/owners/logout">Logout</a>
                
            </div>
        </div>
        <div class="w-5/6 my-5 grid grid-cols-3 bg-gray-100 px-auto gap-5 max-h-screen overflow-y-auto">
            <% products.forEach(function(product){ %>
            <div class=" gap-5">
                    <div class="w-60 bg-gray-200 ">
                        <div class="w-full h-52 bg-yellow-500">
                            <img class="w-full h-full" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="">
                        </div>
                        <div class="flex justify-between items-center px-4 py-4">
                            <div>
                                <h3 class="font-semibold font-sans "><%= product.name%></h3>
                                <h4>₹ <%= product.price%></h4>
                            </div>
                            <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white" href="/products/deleteproduct/<%=product._id%>">
                                <i class="ri-add-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
    </div>
    <%- include('./partials/footer') %>
   